.table-responsive {
  overflow: hidden;
}
table {
  width: 100%;
}
tr th {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  color: #1c1c1c66;
}
thead tr th {
  white-space: nowrap;
  padding: 0.5rem 1rem;
  text-align: left;
}
tbody {
  tr td {
    white-space: nowrap;
    padding: 0.5rem 1rem;
    text-align: left;
  }
}
// tbody tr:hover {
//   background-color: lighwhite;
// }
.btn {
  visibility: hidden;
  //   transition: visibility 0.06s ease-in;
}
// a {
//   text-decoration: none;
//   color: #0989ab;
//   font-size: 0.8rem;
//   font-weight: 500;
// }
// a:hover {
//   color: #0989ab;
//   opacity: 0.75;
// }
// a ~ a:before {
//   content: "|";
//   padding: 0 0.35rem;
// }

tr:hover > td .btn {
  visibility: visible;
}
// input[type="checkbox"] {
//   width: 0.75rem;
//   height: 0.75rem;
//   color: black;
//   vertical-align: middle;
//   -webkit-appearance: none;
//   background: none;
//   border: 0;
//   outline: 0;
//   flex-grow: 0;
//   border-radius: 0.25rem;
//   background-color: #ffffff;

//   cursor: pointer;
// }
// .taw {
//   color: red;
// }
// input[type="checkbox"]::before {
//   content: "";
//   color: transparent;
//   display: block;
//   width: inherit;
//   height: inherit;
//   border-radius: inherit;
//   border: 0;
//   background-color: transparent;
//   background-size: contain;
//   box-shadow: inset 0 0 0 1px #ccd3d8;
// }
// [type="checkbox"]:checked {
//   background-color: currentcolor;
// }
// [type="checkbox"]:checked::before {
//   box-shadow: none;
//   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
// }
.act-table {
  width: 250px;
  // background-color: white;

  // opacity: 1;
  // visibility: visible;
  // // transform: scale(0);
  // transition: var(--speed) ease;
}
.inact-table {
  width: 0;
  // background-color: white;
  //   visibility: hidden;
  // // transform: scale(1);
  // transition: var(--speed) ease;
}
.act-bg {
  display: block;
}
.inact-bg {
  display: none;
}

// .acttest {
//   display: block;
// }
// .intest {
//   display: hidden;
// }

// .actchild {
//   display: block;
// }
// .inchild {
//   width: 0;
// }
