:root {
  --speed: 400ms;
}

.activechild {
  max-height: 10rem;

  margin-top: 0px;

  transition: var(--speed) ease-out;
}

.inactivechild {
  max-height: 0;
  overflow: hidden;

  transition: var(--speed) ease-out;
}
