:root {
  --speed: 400ms;
}

.leftmenu {
  margin-left: -165px;
}

.leftmenu.active {
  margin-left: 0px;
}

.activechild {
  max-height: 10rem;

  margin-top: 0px;

  transition: 0.9s ease-out, padding 0.3s ease;
}

.inactivechild {
  max-height: 0;
  overflow: hidden;

  transition: max-height 0.3s ease-out, padding 0.3s ease;
}
