// nav {
//   left: -10.5rem;
// }
#nav-expand:focus {
  opacity: 0;
}

// #nav-expand:focus ~ main {
//   margin-left: 17rem;
//   transition-delay: 0.25s;
// }

#nav-expand:focus ~ nav {
  left: 1px;
  transition-delay: 0.25s;
}

.icon {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  height: 12px;
  width: 12px;
}

.icon-cross {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAABHNCSVQICAgIfAhkiAAAAPdJREFUGJV1jz9LhWAYxc+9rVZDQ+DcEI0NLU19gxr6Ci3tuvjnA+gggSBt4qzzO90b5FBubkHgEM1CBL5K93Ia8jWv4G88/A7PeQAArusekXwRQpiGYSzQ4/v+Gcn3OI6vMRJf+cdWFXrxs8+bOI5vkCTJLckf/rMtiuJhJJIk67oWAIA0Te8mhR2klGvbtg/UvNlC27ZPSlwquaqqZwA1dmGe56uu676HxPO8U5IfMyuGp+fEt+nTQghzqWnaMYBDdUVKuXYc5yLLsnsAmz5e6Lp+AgCIouiK5FfTNCvLsvanT5dl+Wia5t6wOwiC87GoCMPwUom/I2EVwEqOzwUAAAAASUVORK5CYII=");
}
