// .di {
//   -webkit-animation: fadein 12s;
//   @-webkit-keyframes fadein {
//     /* Safari and Chrome */
//     from {
//       opacity: 0;
//     }
//     to {
//       opacity: 12;
//     }
//   }
// }
[data-scrollbars] {
  width: 1400px;
  height: 680px;
  background-color: #ececec;
  overflow: auto;
}

[data-scrollbars]::-webkit-scrollbar {
  width: 18px;
  height: 2px;
}

[data-scrollbars]::-webkit-scrollbar-track {
  background-color: transparent;
}

[data-scrollbars]::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

[data-scrollbars].is-scrolling::-webkit-scrollbar-track {
  background-color: #777;
}

[data-scrollbars].is-scrolling::-webkit-scrollbar-thumb {
  background-color: gold;
}
