:root {
  --speed: 300ms;
}

.active {
  background-color: white;
  opacity: 1;
  visibility: visible;
  // transform: scale(0);
  transition: var(--speed) ease;
}

.inactive {
  opacity: 0;
  visibility: hidden;
  // transform: scale(1);
  transition: var(--speed) ease;
}
