// input[type="checkbox"] {
//   &.form-checkbox + .lb {
//     // border-radius: 10px;
//   }
// }
.toggle1 {
  display: inline-block;
  height: 28px;
  position: relative;
  width: 52px;
}
.toggle1 input[type="checkbox"] {
  display: none;
}
.toggle1 .slider {
  background-color: #ccc;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  position: relative;
}
.toggle1 .slider::before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 24px;
  left: 1.5px;
  position: absolute;
  transition: 0.1s;
  width: 24px;
  top: 2px;
}
.toggle1 input[type="checkbox"]:checked + .slider {
  background-color: rgb(0, 0, 0/0.2);
}
.toggle1 input[type="checkbox"]:checked + .slider:before {
  transform: translateX(24px);
}

// #2
.toggle2 {
  display: inline-block;
  height: 28px;
  position: relative;
  width: 52px;
}
.toggle2 input[type="checkbox"] {
  display: none;
}
.toggle2 .slider {
  background-color: #ccc;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  position: relative;
  border-radius: 50px;
}
.toggle2 .slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 24px;
  left: 1.5px;
  position: absolute;
  transition: 0.1s;
  width: 24px;
  top: 2px;
  border-radius: 50px;
}
.toggle2 input[type="checkbox"]:checked + .slider {
  background-color: rgb(0, 0, 0/0.2);
}
.toggle2 input[type="checkbox"]:checked + .slider:before {
  transform: translateX(24px);
}

// 3

// .more .slider {
//   // background-color: white;
//   // border-width: 1px;
//   // border-color: black;
// }
.more .slider:before {
  background-color: #8d8d8d;
  width: 22px;
  height: 22px;
}
.more input[type="checkbox"]:checked + .slider {
  background-color: white;
  border-width: 1px;
  border-color: black;
}
.more input[type="checkbox"]:checked + .slider::before {
  background-color: black;
}
.more input[type="checkbox"] + .slider {
  background-color: white;
  border-width: 0.5px;
  // border-color: gray;
}

// 4
.more2 .slider:before {
  background-color: #8d8d8d;
  width: 22px;
  height: 22px;
}
.more2 input[type="checkbox"]:checked + .slider {
  background-color: white;
  border-width: 1px;
  border-color: black;
}
.more2 input[type="checkbox"]:checked + .slider::before {
  background-color: black;
}
.more2 input[type="checkbox"] + .slider {
  background-color: white;
  border-width: 0.5px;
  // border-color: gray;
}

.act-noti {
  left: 60px;
}
.inact-noti {
  left: -18rem;
}
